<div class="div-create-post">
	<section class="div-create-post-title">
		<input type="text" id="postTitle" placeholder="Title This Post"/><span id="postTitleError"></span>
	</section>
	<section class="div-create-post-article">
		<textarea id="postArticle" placeholder="Add details for the post"></textarea><span id="postArticleError"></span>
	</section>
	<section class="div-create-post-tags">
		<input type="text" id="tagPost" placeholder="Tag This Post"/><span id="tagPostError"></span>
	</section>
	<div class="div-create-post-btns">
		<button id="postBtn">Post</button>
		<button id="postCancelBtn">Cancel</button>
	</div>
 </div>