<div class="register-page">
  <div class="register-div">
  	  <input type="text" id="fullname" placeholder="full name"/><span id="fullNameError"></span>
      <input type="text" id="name" placeholder="username"/><span id="usernameError"></span>
      <input type="password" id ="password" placeholder="password"/><span id="pwdErr"></span>
      <input type="password" id ="cnfpassword" placeholder="confirm password"/><span id="cnfPwdErr"></span>
      <input type="text" id ="phonenumber" placeholder="phone number"/><span id="phnErr"></span>
      <input type="text" id="email" placeholder="email address"/><span id="emailErr"></span>
      <span id="userExistsErr"></span>
      <button id="create">create</button>
      <p class="message">Already registered? <a href="#/signin" id="signinhrf">Sign In</a></p>
   </div>
</div>