<div class="register-page">
  <div class="register-div" ng-form="addUser">
  	  <input type="text" id="fullname" ng-model="fullname" name="fullname" placeholder="full name" required/>
  	  <p class="error-msg" ng-show="showMsgs && addUser.fullname.$error.required">Please enter full name.</p>
      <input type="text" id="name" ng-model="name" name="name" placeholder="username" required/>
      <p class="error-msg" ng-show="showMsgs && addUser.name.$error.required">Please enter user name.</p>
      <input type="password" id ="pwd" ng-model="pwd" name="pwd" placeholder="password" required/>
      <p class="error-msg" ng-show="showMsgs && addUser.pwd.$error.required">Please enter password.</p>
      <p class="error-msg" ng-show="pwdMatchError">Password and confirm password not matching.</p>
      <input type="password" id ="cnfpwd" ng-model="cnfpwd" name="cnfpwd" placeholder="confirm password" required/>
      <p class="error-msg" ng-show="showMsgs && addUser.cnfpwd.$error.required">Please enter confirm password.</p>
      <input type="text" id ="phonenumber" ng-model="phonenumber" name="phonenumber" placeholder="phone number" required/>
      <p class="error-msg" ng-show="showMsgs && addUser.phonenumber.$error.required">Please enter phone number.</p>
      <input type="email" id="email" ng-model="email" name="email" placeholder="email address" required/>
      <p class="error-msg" ng-show="showMsgs && addUser.email.$error.required">Enter email</p>
      <p class="error-msg" ng-show="showMsgs && addUser.email.$error.email">Enter valid email</p>
      <p id="userCreateErr" class="error-msg" ng-show="userCreateErr">{{userCreateErr}}</p>
      <button id="create" ng-click="createUser()">create</button>
      <p class="message">Already registered? <a href="#/signin" id="signinhrf">Sign In</a></p>
   </div>
</div>

