<md-dialog aria-label="Registration Success">
<md-dialog-content>
   	  <table>
   	  	<tr><td>User name</td><td>:</td><td><span id="showUname">{{name}}</span></td></tr>
   	  	<tr><td>Email</td><td>:</td><td><span id="showEmail">{{email}}</span></td></tr>
   	  </table>
   	  <div class="show-fullname">Full name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="showFullName">{{fullname}}</span></div>
   	  <hr> 
   	  <div class="show-phn">Phone number&nbsp;&nbsp;&nbsp;<span id="showPhn">{{phonenumber}}</span></div>
   	  <hr>
   	  <div class="show-email">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<span id="showEmail">{{email}}</span></div>
   	  <hr>
      <p class="success-reg-message">Successfully registered. <a href="signin" id="loginhrf">Sign In</a></p>
</md-dialog-content>
</md-dialog>