<div class="div-show-post">
	<div class="div-show-post-title">{{post.title}}</div>
	<div class="div-show-post-details">
		<div class="div-show-post-article">{{post.article}}</div>
		<div class="div-show-post-footer">
			<div class="div-show-post-tags" ng-repeat="tag in post.tags track by $index">
				<a id="crdtags-{{$index}}">{{tag}}</a>
			</div>
			<div class="div-show-post-footer-right">
				<div class="div-show-post-created-date">{{post.createdDate}}</div>
				<div class="div-show-post-createdby">{{post.createdBy}}</div>
			</div>
		</div>
	</div>
	<div class="div-post-reply">
		<section class="div-replyto-post-article">
			<textarea id="replyPostArticle" placeholder="Add your reply"></textarea><span id="replyPostArticleError"></span>
		</section>
		<div class="div-create-reply-btns">
			<button id="replyBtn">Reply</button>
			<button id="replyPostCancelBtn">Cancel</button>
		</div>
	</div>
</div>